@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://rsms.me/inter/inter.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css");

/* Var */

:root {
  --font-color: rgb(20, 19, 22);
  --font-color-light: rgb(204, 204, 204);
  --link-color-hover: rgb(23, 165, 153);
  --font-weight-title: 900;
  --ls-heading: -0.011em;
}

html {
  font-family: "Inter", sans-serif;
}

main,
footer {
  position: relative;
  margin: 0 auto;
  padding: 80px;
}

main {
  color: var(--font-color);
}

footer {
  color: var(--font-color-light);
}

/* Navigation */

.navigation {
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  backdrop-filter: blur(12px);
  border-bottom: 3px solid black;
  z-index: 9000;
  text-align: center;
}

/* Typo */

.black {
  font-weight: 900;
  letter-spacing: var(--ls-heading);
}

.caps {
  text-transform: uppercase;
}

body {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  font-weight: var(--font-weight-title);
  letter-spacing: var(--ls-heading);
}
h2 {
  font-size: 2.5em;
  font-weight: var(--font-weight-title);
  letter-spacing: var(--ls-heading);
}
h3 {
  font-size: 2em;
  font-weight: var(--font-weight-title);
  letter-spacing: var(--ls-heading);
}
h4 {
  font-size: 1.5em;
  font-weight: var(--font-weight-title);
  letter-spacing: var(--ls-heading);
}
h5 {
  font-size: 1.25em;
  font-weight: var(--font-weight-title);
  letter-spacing: var(--ls-heading);
}

a,
a:link:visited:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  font-style: italic;
}

/* Basic */

.item {
  position: relative;
  width: 100vw;
  height: calc(100vw / 2);
  overflow: hidden;
}

.item--bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.item-img {
  display: block;
  height: 100vw;
}

.item-img canvas {
  height: 100vw;
  width: 100%;
}

.item-img img {
  width: 100%;
  display: block;
}

.item-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.item:hover .item-img img:nth-child(2) {
  opacity: 1;
}

.item-img img {
  display: none;
}

@media (max-width: 48em) {
  .navigation {
    border-bottom: 2px solid black;
  }

  main,
  footer {
    padding: 40px;
  }
  .item {
    height: 100vw;
  }
}
